body {
    background-color: rgb(17, 17, 17);
    color: #000;
    font-family: 'Sofia Sans', sans-serif;
}
.form {
    width: 490px;
    text-align: left;
    margin: auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 12px;
}
.form h2 {
    margin-top: 0;
}
.form input[type="text"] {
    margin: 5px;
    border-radius: 6px;
    border: 1px solid rgb(197, 197, 197);
    padding: 4px;
}
.form input[type="button"] {
    padding: 5px;
    border-radius: 6px;
    border: none;
    transition: all ease 0.5s;
}
.form input[type="button"]:hover {
    background-color: rgb(197, 197, 197);
}